body{
    background-color: black;
}

.disclaim-cont{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.disclaim-txt{
    color: #e3e3e3;
    font-size: 3vh;
    margin-top: 2%;
}

.disclaim-icon{
    margin-top: 5%;
    width: 30vh;
}