.mm-background {
    width: 100%;
    height: 100%;
}



.mm-buttonera {
    bottom: 10%;
    left: 2%;
    width: 30%;
}

.mm-btn {
    font-size: 1.8rem;
    margin-bottom: 2%;
    padding: 2% 3%;
    background-color: transparent;
    border: none;
    transition: background-color .5s, -webkit-box-shadow .5s, box-shadow .5s;
}

.mm-btn:hover {
    color: rgba(217, 0, 0, 0.695);
    background-color: rgba(0, 0, 0, 0.245);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 50px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 50px 5px rgba(0, 0, 0, 0);
}

.mm-modal-popup {
    background-color: #000000;
    width: 50%;
    height: 100%;
}


.mm-modal-table-options {
    width: 100%;
}

.mm-modal-td-options {
    height: 100%;
    width: 50%;
}

.mm-modal-td-options:nth-child(1) {

    width: 20%;
}

.mm-modal-td-options:nth-child(1) {
    text-align: left;
    border-right: 1px solid red;
}



.mm-modal-td-options:nth-child(1) label {
    color: #3677bd;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color .3s;
}

.fs-stade{
    border: 2px solid #284432;
    width: 2rem;
    display: inline-block;
    height: 2rem;
    margin-left: 5%;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;
}



.fs-stade:hover{
    background-color: #afffcb;
}

.fs-disabled{
    background-color: transparent;
}


.fs-enabled{
    background-color: #284432;

}

.mm-modal-td-options:nth-child(1) label:hover {
    color: rgba(217, 0, 0, 0.695);
}

.mm-modal-td-options:nth-child(2) label , .mm-modal-td-options-fastchange-txt {
    color: #3677bdb1;
    font-size: 2.1rem;

}



.swal2-actions{
    width: 100%;
}

.mm-modal-btn{
    background-color: transparent;
    color: #3677bd;
    border: 1px solid #3677bd;
    font-size: 1.3rem;
}

.mm-modal-btn-option{
    width: 25%;
    transition: border .3s, color .3s;
}

.mm-modal-btn-option:hover{
    border: 1px solid rgba(217, 0, 0, 0.695);
    color: rgba(217, 0, 0, 0.695);
}

.resolution-selector{
    background-color: transparent;
    border: 1px solid #3677bd;
    color: #3677bd;
    font-size: 1.3rem;
    width: 70%;
    padding: 1.5% 0%;
    text-align: center;
    transition: background-color .3s, color .3s;
    cursor: pointer;
}
.resolution-selector option{
    background-color: #3677bd;
    color: black;
}

.resolution-selector:focus{
    background-color: #3677bd;
    color: black;
}

.resolution-selector:hover{
    background-color: #3677bd;
    color: black;
}



.volume-control input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    background: #555;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}
.volume-control input[type=range]:hover {
    opacity: 1;
}
.volume-control input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}
.volume-control input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}
.volume-value {
    margin-left: 10px;
}

.mm-modal-popup-options-fastchange{
    height: auto !important;
}

/* .mm-modal-denyButton {

}

.mm-modal-denyButton-options {}

.mm-modal-cancelButton {}

.mm-modal-cancelButton-options {}

.mm-modal-confirmButton {}

.mm-modal-confirmButton-options {} */